01_Data/raw_data/*.csv
09_backup_archiv/*.xlsx
09_backup_archiv/*.csv
09_backup_archiv/*.txt
09_backup_archiv/*.json
09_backup_archiv/apikey_*
.gitignore
apikey_*
01_Data/raw_data/dataset_weitere_forschung.csv
01_Data/raw_data/dataset_Google*.csv
.vscode/*