01_Raw_Data/
01_Data/dataset_Google-Maps-Reviews-Activities_2023-03-26_11-08-15-435.csv
01_Data/dataset_Google-Maps-Reviews-Activities_2023-03-26_11-08-15-435.xlsx
01_Data/dataset_Google-Maps-Reviews-Hotels_2023-03-26_11-34-16-492.csv
01_Data/dataset_Google-Maps-Reviews-Hotels_2023-03-26_11-34-16-492.xlsx
01_Data/dataset_Google-Maps-Reviews-Restaurants_2023-03-26_09-43-08-320.csv
01_Data/dataset_Google-Maps-Reviews-Restaurants_2023-03-26_09-43-08-320.xlsx
01_Data/amazon/dataset_amazon_reviews_v1.csv
01_Data/amazon/dataset_amazon-reviews-scraper_2023-03-22_12-26-47-909.jsonl
01_Data/amazon/dataset_amazon-reviews-scraper_2023-03-22_12-26-47-909.xml
01_Data/~$dataset_google_maps_reviews_v1.xlsx
01_Data/archiv/dataset_google_maps_reviews_v1_test.xlsx
01_Data/archiv/dataset_Google-Maps-Reviews-Scraper-task-1_2023-03-26_08-21-05-357.csv
result/
apikey_openai.txt
apikey_openai_web.txt
apikey_gpt.txt
apikey_dreamstudio.txt
apikey_dalle.txt
